In [36]:
'''
Q1. What are the three measures of central tendency?
'''

'\nQ1. What are the three measures of central tendency?\n'

In [37]:
'''
measure of central tendency are :
*mean (average)
* median
* mode

'''

'\nmeasure of central tendency are :\n*mean (average)\n* median\n* mode\n\n'

In [38]:
'''
Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?
'''

'\nQ2. What is the difference between the mean, median, and mode? How are they used to measure the\ncentral tendency of a dataset?\n'

In [39]:
'''
mean : it is measure by  the sum  of all terms is divided by number of terms 
median : it is find mid of the term 
mode : it is help to find  that term which has  high frequency of repitation 
where median are measure by two type  : for even number term it can be calculate by ((n/2)th+(n/2+1)th)/2
for odd number of term it can be caculateby (n+1)/2
'''
a=[1,2,3,3,54,5,4,7,8,8,6,5,45,6,4,4]

In [40]:
import pandas as pd

In [41]:
df= pd.DataFrame(a,columns=['a'])

In [42]:
df.mean()

a    10.3125
dtype: float64

In [43]:
df.median()

a    5.0
dtype: float64

In [44]:
df.mode()

   a
0  4

In [45]:
'''
Q3. Measure the three measures of central tendency for the given height data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
'''

'\nQ3. Measure the three measures of central tendency for the given height data:\n[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]\n'

In [46]:
data =[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [47]:
df=pd.DataFrame(data,columns=["A"])

In [48]:
df.mean()

A    177.01875
dtype: float64

In [49]:
df.median()

A    177.0
dtype: float64

In [50]:
df.mode()

       A
0  177.0
1  178.0

In [51]:
'''
Q4. Find the standard deviation for the given data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
'''

'\nQ4. Find the standard deviation for the given data:\n[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]\n'

In [52]:
'''
measure of dispersion can be doone by two type such as :
* variance 
* standard deviation 
variance are two type :
# population variance       # sample variance
standart deviation also be divided by two type :
# population standard deviation    # population standard deviation
/////////////
variance
# population variance can be calculated by this formula :
(variance)**2= ((xi-population_mean )**2)/population size
where population size is :N
# sample variance can be calculated by :
(sample variance)**2 = ((xi -sample_mean)**2)/sample_size 
where sample size =n-1
////////////////
 standard deviation 
# population standard deviation : sqrt root of population variance
# sample  standard deviation : sqrt root of sample variance
'''
import numpy as np
data =[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
np.std(data)

1.7885814036548633

In [53]:
'''
Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.
'''

'\nQ5. How are measures of dispersion such as range, variance, and standard deviation used to describe\nthe spread of a dataset? Provide an example.\n'

In [54]:
import seaborn as sns
tips =sns.load_dataset('tips')

In [55]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [56]:
tips.std()

/tmp/ipykernel_114/2309071506.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [57]:
tips.var()

/tmp/ipykernel_114/1695256253.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [58]:
'''
Q6. What is a Venn diagram?
'''

'\nQ6. What is a Venn diagram?\n'

In [59]:
'''
venn diagram are used to represent all posible relation between set
it is illustrate by cicle 
'''

'\nvenn diagram are used to represent all posible relation between set\nit is illustrate by cicle \n'

In [60]:
'''
Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
(i) A intersection B
(ii) A ⋃ B


'''

'\nQ7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:\n(i) A intersection B\n(ii) A ⋃ B\n\n\n'

In [61]:
'''
 A ⋃ B={0,1,2,3,4,5,6,7,8,10}
 (i) A intersection  B ={2,6}
'''

'\n A ⋃ B={0,1,2,3,4,5,6,7,8,10}\n (i) A intersection  B ={2,6}\n'

In [62]:
'''
Q8. What do you understand about skewness in data?
'''

'\nQ8. What do you understand about skewness in data?\n'

In [63]:
'''
skewness isthe measurement of the distortion of symmetrical distribution or asymmmetry in data set .
skewness is demonstrated on the bell curve when data point are not distributed in symmetrically to left and right 
side of the median on the bell
'''

'\nskewness isthe measurement of the distortion of symmetrical distribution or asymmmetry in data set .\nskewness is demonstrated on the bell curve when data point are not distributed in symmetrically to left and right \nside of the median on the bell\n'

In [64]:
'''
Q9. If a data is right skewed then what will be the position of median with respect to mean?
'''

'\nQ9. If a data is right skewed then what will be the position of median with respect to mean?\n'

In [65]:
'''
mean is greater tha median it means median is smaller than mean in right skwed
'''

'\nmean is greater tha median it means median is smaller than mean in right skwed\n'

In [66]:
'''
Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?
'''

'\nQ10. Explain the difference between covariance and correlation. How are these measures used in\nstatistical analysis?\n'

In [67]:
'''
covariance is the statistical term that refer to a systematic relationship between two  randam variable in wich a change in the other reflect a change in one variable .
the covariance value can range from -infinity to positive  infinity nagative value indicate negative relation and positive value indicate positive relationship
covariance can be measured by:
covariance (x,y)= 1/n(summision(x-mean x)(y-mean y))
////
correlation 
correlation is a measure that determine the degree to which two or more random variable move in squence 
.when an equivalent movement of another variable reciprocates the movement of one variable in some way or 
another during the study of two variable .
measure by  correalation (x,y)= cov(x,y)/((sqrt var(x))(squart(var(y))))
'''

'\ncovariance is the statistical term that refer to a systematic relationship between two  randam variable in wich a change in the other reflect a change in one variable .\nthe covariance value can range from -infinity to positive  infinity nagative value indicate negative relation and positive value indicate positive relationship\ncovariance can be measured by:\ncovariance (x,y)= 1/n(summision(x-mean x)(y-mean y))\n////\ncorrelation \ncorrelation is a measure that determine the degree to which two or more random variable move in squence \n.when an equivalent movement of another variable reciprocates the movement of one variable in some way or \nanother during the study of two variable .\nmeasure by  correalation (x,y)= cov(x,y)/((sqrt var(x))(squart(var(y))))\n'

In [68]:
'''
Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.
'''

'\nQ11. What is the formula for calculating the sample mean? Provide an example calculation for a\ndataset.\n'

In [69]:
"""
formula:
mean = sum of all term is divided by total number of term 
for example  x=[1,2,3,4,5]
it mean  =(1+2+3+4+5)/5

"""
import pandas as pd
d=[1,2,2,3,4,5]
df= pd.DataFrame(d,columns=["mean"])
df.mean()

mean    2.833333
dtype: float64

In [70]:
'''
Q12. For a normal distribution data what is the relationship between its measure of central tendency?
'''

'\nQ12. For a normal distribution data what is the relationship between its measure of central tendency?\n'

In [71]:
'''
normal  distribution, the Mean, Median, and Mode are all the same.
it is also like a symerically bell curve
'''

'\nnormal  distribution, the Mean, Median, and Mode are all the same.\nit is also like a symerically bell curve\n'

In [72]:
'''
Q13. How is covariance different from correlation?
'''

'\nQ13. How is covariance different from correlation?\n'

In [73]:
'''
Covariance and correlation are two mathematical concepts used in statistics. Both terms are used to
describe how two variables relate to each other. Covariance is a measure of how two variables change 
together. The terms covariance vs correlation is very similar to each other in probability theory and 
statistics. Both the terms describe the extent to which a random variable or a set of random variables 
can deviate from the expected value.


'''

'\nCovariance and correlation are two mathematical concepts used in statistics. Both terms are used to\ndescribe how two variables relate to each other. Covariance is a measure of how two variables change \ntogether. The terms covariance vs correlation is very similar to each other in probability theory and \nstatistics. Both the terms describe the extent to which a random variable or a set of random variables \ncan deviate from the expected value.\n\n\n'

In [74]:
'''
Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.
'''

'\nQ14. How do outliers affect measures of central tendency and dispersion? Provide an example.\n'

In [75]:
'''
When a outlier is present it can effect the shape of the graph, if we have outliers to the right of the 
graph. These outliers are causing the mean to increase, but if we have outliers to the left of the graph 
these outliers are dragging down the mean. This causes a conflict because the mean no longer provides a 
good representation of the data, alternatively we would much rather use the median. The median on the 
other hand is less likely to be affect by outliers.
for example :
'''
d=[1,2,3,4,5]
e=[1,2,3,4,5,105]
df=pd.DataFrame(d,columns=[' without outlier'])
df1=pd.DataFrame(e,columns=[' with outlier'])

In [76]:
df.mean()

 without outlier    3.0
dtype: float64

In [77]:
df.median()

 without outlier    3.0
dtype: float64

In [78]:
df1.mean()

 with outlier    20.0
dtype: float64

In [79]:
df1.median()

 with outlier    3.5
dtype: float64